<% provide(:title, 'Home')%>
<!DOCTYPE html>

<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <div id ="foobar">
  </div>
  <%= link_to 'ajax show', event_path('show'), :remote => true, "data-type" => :json, :id => "update_foobar" %>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	<% if signed_in? %>
	 <section>
	         <%= render 'shared/rent_house_form' %>
			 </section>
	<% end %>
</div>

<script>
$(function() {
    $('#update_foobar').bind("ajax:success", function(event, data) {
		var foobar = $('#foobar');
		console.log(data);
        foobar.html( data.area );
    });
});
</script>

