<div class="reset_password">
	<%= form_tag password_resets_path, class:"ui form edit segment", :method => :post do%>
	<h1>重設密碼</h1>
  	<div class="field">
   		 <%= label_tag :email %>
   	 	<%= text_field_tag :email, params[:email] %>
  	</div>
  	<div class="actions"><%= submit_tag "重設密碼", class:"ui red button"%></div>
	<% end %>
</div>
