<li>
  <span class="address"><%= sale_house.address %></span>
  <span class="timestamp">
		  posted <%= sale_house.updated_at %>.
  </span>

   <% if current_user?(sale_house.user) %>
    <%= link_to "delete", sale_house, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: sale_house.address %>
  <% end %>
</li>
