<li>
  <span class="address"><%= rent_house.address %></span>
  <span class="timestamp">
		  posted <%= rent_house.updated_at %>.
  </span>

   <% if current_user?(rent_house.user) %>
    <%= link_to "delete", rent_house, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: rent_house.address %>
  <% end %>
</li>
