<div class="ui form">	
	 							<form accept-charset="UTF-8" action="" class="search_form" data-remote="true" method="get"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
	<div class="search_form">	
		<label class="ui ribbon label" for="district">鄉鎮市區</label>
		<div class="ui icon input">
			 <input id="district" name="district" placeholder="Search..." type="text">
			<i class="search icon"></i>
		</div>
	</div>
	<label class="ui teal ribbon label" for="price">月租</label>
	<div class="radio fields">
		<div class="ui radio checkbox">
			<input checked="checked" id="price__0__4000" name="price" type="radio" value="0 4000">
			<label for="price">4000</label>
			 <i class="small long arrow down icon"></i>
		</div>	
		<div class="ui radio checkbox">
				<input id="price__4000__6000" name="price" type="radio" value="4000 6000">
				<label for="price">4000 ~ 6000</label>
		</div>
		<div class="ui radio checkbox">	
				<input id="price__6000__10000" name="price" type="radio" value="6000 10000">
				<label for="price">6000 ~ 10000</label>
		</div>	
		<div class="ui radio checkbox">
			<input id="price__10000__99999999" name="price" type="radio" value="10000 99999999">
			<label for="price">10000</label>
			<i class="long arrow up icon"></i>
		</div>	
	</div>
	<label class="ui red ribbon label" for="rating">喜愛程度</label>
	 <div id="heart_rating">
<div class="heart item">	
		<div class="ui heart rating data-rating=" 5""="">
			 <i class="rate icon"></i>
			 <i class="rate icon"></i>
			 <i class="rate icon"></i>
			 <i class="rate icon"></i>
			 <i class="rate icon"></i>
		</div>
		<div class="content">
			7-11
		</div>
</div>	
<div class="heart item">	
		<div class="ui heart rating data-rating=" 5""="">
			<i class="rate icon"></i>
			<i class="rate icon"></i>
			<i class="rate icon"></i>
			<i class="rate icon"></i>
			<i class="rate icon"></i>
		</div>
		<div class="content">
			超級市場
		</div>
</div>
<div class="heart item">	
		<div class="ui heart rating data-rating=" 5""="">
			<i class="rate icon"></i>
			<i class="rate icon"></i>
			<i class="rate icon"></i>
			<i class="rate icon"></i>
			<i class="rate icon"></i>
		</div>
		<div class="content">
			餐廳
		</div>
</div>
<div class="heart item">	
		<div class="ui heart rating data-rating=" 5""="">
			<i class="rate icon"></i>
			<i class="rate icon"></i>
			<i class="rate icon"></i>
			<i class="rate icon"></i>
			<i class="rate icon"></i>
		</div>
		<div class="content">
			火車站
		</div>
</div>
</div>

	 <input id="rating_tag" name="rating" type="text">
<input class="adsearch ui small red button" name="commit" onclick="search()" type="submit" value="搜尋">
</form>
	
							</div>
