<div id="profile">
  <div class="ui orange segment">
    <h4>關於</h4>
    <ul>
      <li>
        使用者名稱
        <%= @user.name %>
      </li> 
      <li>
        Email
        <%= @user.email %>
      </li>
    </ul>
  </div>
  <div class="ui orange segment">
    <h4>出租中 (<%= @user.rent_houses.count %>)</h4>
    <ol class="rent_houses">
      <% if @user.rent_houses.any? %>
        <%= render @user.rent_houses %>
      <% end %>
    </ol>
  </div>
</div>
