<% provide(:title, @user.name) %>

<div class="ui green message welcome_message">
	<font><%= @user.name %></font>
	歡迎來到WhatsHouse！
</div>

<!-- <div class="ui feed">
	<div class="segmant">
		<h3 class="ui top attached header">
			<font><%= @user.name %></font>
		</h3>
		<div class="ui tabular attached menu">
			<a class="active item">
				Me.
			</a>
		<div>
	</div>
</div>
-->
