<div class="ui form">
  <div class="field">
    <div class="grouped inline fields" id="around_services">
      <div class="field">
        <div class="ui slider checkbox">
          <input name="stores" type="checkbox">
          <label id="7-11">7-11</label>
        </div>
      </div>
      <div class="field">
        <div class="ui slider checkbox">
          <input name="dinings" type="checkbox">
          <label id="餐廳">餐廳</label>
        </div>
      </div>
      <div class="field">
        <div class="ui slider checkbox">
          <input name="stations" type="checkbox">
          <label id="火車站">火車站</label>
        </div>
      </div>
      <div class="field">
        <div class="ui slider checkbox">
          <input name="hospitals" type="checkbox">
          <label id="診所醫院">診所醫院</label>
        </div>
      </div>
      <div class="field">
        <div class="ui slider checkbox">
          <input name="tainan_markets" type="checkbox">
          <label id="超級市場">超級市場</label>
        </div>
      </div>
      <div class="field">
        <div class="ui slider checkbox">
          <input name="post_offices" type="checkbox">
          <label id="郵局">郵局</label>
        </div>
      </div>
      <div class="field">
        <div class="ui slider checkbox">
          <input name="gas_stations" type="checkbox">
          <label id="加油站">加油站</label>
        </div>
      </div>
      <div class="field">
        <div class="ui slider checkbox">
          <input name="subways" type="checkbox">
          <label id="捷運">捷運</label>
        </div>
      </div>
    </div>
  </div>
</div>

