<div id="site-container">
  <div class="heading">
    <h1>簡單、直覺、友善</h1>
    <h6>提供更輕鬆的方式尋找您心目中的家</h6>
    <div class="enter">
      <%= link_to "找房子", rent_houses_path, class:"ui red button" %>
      <%= link_to "出租", new_rent_house_path, class:"ui red button"%>
    </div>
  </div>
</div>
