// Place all the styles related to the content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$orange: #df4119;

//home page

#site-container{
	width: 100%;
	height: 100%;
	position: relative;
	color: #ffffff;
	font-weight: 700;
	font-size: 36px;
	background: image-url("006.jpg") no-repeat;
	background-position: 0px;
	opacity: 0.95;
	min-height: 520px;
	background-size: 100%;
}

.heading{
	padding: 15px 15px 15px 20px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	
	#signup{
		font-size: 15px;
		padding: 10px 10px 10px 10px;
		margin-left: 26%;
		margin-left: 330px;
		background: transparent;
	}
	
	div.ui.left.labeled.icon.input {
		border-radius: 5px 5px 5px 5px;
	}

}

.enter{
	width: 41%;
	left: 30%;
	position: relative;
	
	a.ui.red.button{
		background: #720000;
		height: 57px;
		width: 42%;
		text-align: center;
		padding-top: 18px;
		margin: 10px 10px 10px 10px;
		font-size: 18px;
		&:hover{
			background-color: #E75859;
			color: #FFFFFF;	
		}
		&:last-child{
			background: white;
			border: 2px solid white;
			color: #444;;
			font-weight: normal;
		}
		&:last-child:hover{
			background: rgba(255, 255, 255, 0);
			color: white;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	 	}
	}
}

//rent page


#map_canvas { 
	height: 100%;
	z-index: 1;
}
	  
.clearfix {
	zoom: 1;
}

.ui.launch.button {
	width: 100%;
	margin-bottom: 10px;
}


div.ui.inverted.red.pointing.response.menu{
	background: $orange;
}

.ui.response.cell.grid {
	position: absolute;
  top: 10%;
	right: 2%;
	width: 40%;
	display:table;
	z-index: 2;

	.column{
		padding-right: 30px;
		
		.ui.response.menu {
			position: relative;
	}
		.ui.tab.segmant {
			display:table-cell;
	}
		
		.ui.response.menu {
			position: relative;
			box-shadow: 0.6px 0.7px 0.7px rgba(1,1,1,0.5);
	}
		
		.item:after{
			top: 45px;
	}
		
	}
	
	.ui.form .error.message {
		display: block !important;
	}
}

#main_infor p{
	overflow: auto;
	height: 80px;
	line-height: 30px;
}

.left-information{
	float:left;
	width:45%;
	height: 80px;
}

.right-information{
	float:right;
	width:45%;
	height: 80px;
}

#information>:last-child {
		margin-bottom: 0em;
		width: 100%;
		height: 100%;
}

.ui.tab.active, 
.ui.tab.open {
		display: block;
		box-shadow: 0.7px 0.8px 0.8px rgba(1,1,1,0.5);
		border-radius: 3px 3px 3px 3px;
}

div.launch.button {
		position: relative;
		right: 9%;
		top: -45px;
		width: 20px;
}

#comments{
	margin: 0px;
}

#area{
	top: -30px;
	position: relative;
	overflow: auto;
	height: 450px;
}

::-webkit-scrollbar {  
    width: 12px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  

.ui.tab.active, .ui.tab.open {
		margin: 0px;
}

i.small.long.arrow.down.icon {
		padding-left: 5px;
}
div.search_form > .ui.icon.input{
	width: 67%;
	display: block;
}

div.content{
	display: inline;
	color: #555555;;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

div.heart.item {
	padding-bottom: 10px;
}

div.radio{
	.fields{
		display: table-cell;
		padding: 5px 3px 9px 3px;
	}
	label{
		padding: 0px 1px 0px 0px;
	}
	.checkbox {
		padding: 2px 2px 2px 2px;
		min-width: 38%;
		display: -webkit-inline-box;
	}
}

div.ui.icon.input {
	margin: 17px 10px 15px 2px;
}

i.small.long.arrow.icon{
	display: inline;
}

#advanced_search form{
	box-sizing: border-box;
	border-radius: 0.325em 0.325em 0.325em 0.325em;
}

.search_form{
	width: 100%;
}

#heart_rating{
	padding: 1em;
}

#rating_tag{
	display: none;
}

#search_result li {
	line-height: 18px;
	padding: 5px 5px 5px 5px;
}

input.ui.red.button {
		background: #720000;
}

#slider1_container {
		position: relative; 
		top: 0px; 
		left: 0px; 
		height: 300px;
}

#images {
	cursor: move; 
	top: 0px; 
	left: 0px; 
	position: absolute; 
	overflow: hidden;
	width: 480px; 
	height: 300px;
}

div.house_cart {
	position: absolute;
	height: 100px;
	width: 300px;
	top: 77%;
	float: left;
	border-radius: 5px 5px 5px 5px;
	background:transparent; 
	color: #720000;
	z-index: 10;
}
.div.cart.item li{
	line-height: 25px;
}

.cart{
	padding: 10px 10px 10px 10px;
}

.cart span{
	color: #720000;
	
}
.cart a{
	color: #720000;
}

#main_infor{
	width:auto;

}
#main_infor button {
		width: 100%;
		padding-top:5px;
}

.undo{
	float:right;
}

#disqus_thread{
	height: 400px;
	overflow: auto;
}

div.heart.item {
	width: 50%;
	float: left;
}

.people_select{
	padding: 10px 10px 15px 10px;
}

select#people {
	height: 30px;
	font-weight: 400;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	border-radius: .1875rem;
	background: white;
}

.menu_search_form{
	display: inline;
}

.menu_search_form > div.item{
	padding: 0px;
	margin: 0px;
	height: 50px;
}

.menu_search_form form{
	top: -20px;
	position: relative;
}

.menu_search_form .input{
	width: 194%;
}

.menu_search_form input{
	height: 32px;
}
.menu_search_form .ui.icon.input > .icon{
	background: rgb(223, 65, 25);
	color: white;
	padding: 10px;
	opacity: 1;
}

.menu_search_form  .ui.icon.input input.search_submit{
	background: transparent;
	position: absolute;
	top: 0px;
	width: 15px;
	left: 206px;
	border: none;
	box-shadow: none;
}

#area div.message {
	color: $orange;
}



//about_us contac_us

#about_us, #contact_us{
	width: 70%;
	margin: auto;
	padding: 10px 10px 10px 10px;
	color: black;
}

.author{
	height: 200px;
	width: 90%;
	line-height: 40px;
	margin: auto;
	padding-top: 20px;
}

#contact_us a,
#about_us a{
	padding-left: 5px;
	color: #444;
}

#contact_us a:hover,
#about_us a:hover{
	color: $orange;
}

.author_img img, .author_img{
	height: 150px;
	width: 150px;
	float:left;
}

.author_brief{
	width: 95%;
	margin:auto;
}

.author_brief li{
	list-style:none;
}
