// Place all the styles related to the content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/border-radius";
@import "compass/css3/background-size";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
$orange: #df4119;
$min-web-size: 920px;
$max-phone-size: 768px;


//home page

#site-container{
	width: 100%;
	height: 100%;
	position: relative;
	color: #ffffff;
	font-weight: 700;
	font-size: 36px;
	background: image-url("006.jpg") no-repeat;
	background-position: 0px;
	min-height: 520px;
	@include background-size(100%);
	@include opacity(0.95);
	
	
	@media screen and (max-width: $min-web-size) {
    height: auto;
		width: auto;
  }
	@media screen and (max-width: $max-phone-size) {
   	top: -104px;
  }
	
	@media screen and (max-width: $max-phone-size - 78px ) {
		background-image: none;
	}	
	
	.heading{
		padding: 20px 15px 15px 107px;
		margin-right: auto;
		margin-left: auto;
		@include text-shadow(rgba(0,0,0,0.4) 1px 1px 1px);
		
		@media screen and (max-width: $max-phone-size) {
			padding: 14%
		}
		
		h1{
			@media screen and (max-width: $max-phone-size) {
   			display: none;
			}
		}
		
		#signup{
			font-size: 15px;
			padding: 10px 10px 10px 10px;
			margin-left: 26%;
			margin-left: 330px;
			background: transparent;
		}
	
		div.ui.left.labeled.icon.input {
			@include border-radius(5px);

		}

		.enter{
			width: 41%;
			left: 30%;
			position: relative;
	
			@media screen and (max-width: $min-web-size) {
				width: 56%;
  		}
			
			a.ui.button{
				@media screen and (max-width: $max-phone-size) {
					width: 68% !important;
  			}
			}
			
			a.ui.red.button{
				height: 57px;
				width: 42%;
				text-align: center;
				padding-top: 18px;
				margin: 10px 10px 10px 10px;
				font-size: 18px;
			&:hover{
				background-color: #E75859;
				color: #FFFFFF;	
			}
			&:last-child{
				background: white;
				border: 2px solid white;
				color: #444;;
				font-weight: normal;
			}
			&:last-child:hover{
				background: rgba(255, 255, 255, 0);
				color: white;
				@include text-shadow(rgba(0,0,0,0.5) 1px 1px 1px);
	 			}
			}
		}
	}	
}	



//rent page


#map_canvas { 
	height: 100%;
	z-index: 1;
}
	  
#area{
	top: -30px;
	position: relative;
	overflow: auto;
	height: auto;
	max-height: 420px;
	@include box-shadow(rgba(1, 1, 1, 0.2) 1px 1px 1px);
	
	div.message {
		color: $orange;
	}
	
}

div.ui.inverted.red.pointing.response.menu{
	background: $orange;
}

.ui.tab.active, 
.ui.tab.open {
	display: block;
	@include box-shadow(rgba(1,1,1,0.5) 0.7px 0.8px 0.8px);
	@include border-radius(3px);
}

div.launch.button {
	position: relative;
	right: 9%;
	top: -45px;
	width: 20px;
	
	@media screen and (max-width: 1210px) {
		right: 14%;
		top: -94px;
  }
}

.ui.response.cell.grid {
	position: absolute;
  top: 5%;
	right: 4%;
	width: 40%;
	display:table;
	z-index: 2;

	@media screen and (max-width: $max-phone-size) {
			width: 50%;
	}
	@media screen and (max-width: $max-phone-size - 200px) {
		width: 60%;
		height: 100px;
	}
	
	
	.column{
		padding-right: 30px;
		
		.ui.response.menu {
			position: relative;
	}
		.ui.tab.segmant {
			display:table-cell;
	}
		
		.ui.response.menu {
			position: relative;
			@include box-shadow(rgba(1,1,1,0.5) 0.6px 0.7px 0.7px);
	}
		
		.item:after{
			top: 45px;
	}
		
	}
	
	.ui.tab.active, 
	.ui.tab.open {
		margin: 0px;
	}
	
	.ui.form .error.message {
		display: block !important;
	}
	
}




#main_infor{
	width:auto;

	p{
		overflow: auto;
		height: 80px;
		line-height: 30px;
	}
	
	 button {
		width: 100%;
		padding-top:5px;
	 }
}


#information>:last-child {
	margin-bottom: 0em;
	width: 100%;
	height: 100%;
}


#comments{
	margin: 0px;
}




i.small.long.arrow.down.icon {
	padding-left: 5px;
}
div.search_form > .ui.icon.input{
	width: 67%;
	display: block;
}

div.content{
	display: inline;
	color: #555555;;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

div.heart.item {
	padding-bottom: 10px;
}

div.radio{
	.fields{
		display: table-cell;
		padding: 5px 3px 9px 3px;
	}
	label{
		padding: 0px 1px 0px 0px;
	}
	.checkbox {
		padding: 2px 2px 2px 2px;
		min-width: 38%;
		display: -webkit-inline-box;
	}
}

div.ui.icon.input {
	margin: 14px 10px 15px 2px;
}

i.small.long.arrow.icon{
	display: inline;
}

#advanced_search form{
	box-sizing: border-box;
	@include border-radius(0.325em);
	
	input.adsearch.ui.small.orange.button{
		background: $orange;
		position:relative;
		width: 30%;
	}
}

.search_form{
	width: 100%;
	
	#heart_rating{
		padding: 1em;
	}
	#rating_tag{
		display: none;
	}
	
}

#search_result li {
	line-height: 18px;
	padding: 5px 5px 5px 5px;
}

#slider1_container {
	position: relative; 
	top: 0px; 
	left: 0px; 
	height: 300px;
}

#images {
	cursor: move; 
	top: 0px; 
	left: 0px; 
	position: absolute; 
	overflow: hidden;
	width: 480px; 
	height: 300px;
}

div.house_cart {
	position: relative;
	height: auto;
	width: 100%;
	bottom: 17px;
	left: 0;
	@include border-radius(5px);
	background: white; 
	color: $orange;
	z-index: 10;
	.cart.item{
		line-height: 35px;
	}
	.div.cart.item li{
		line-height: 25px;
	}

	.cart{
		padding: 10px 10px 10px 10px;
	
		span{
			color: $orange;
		}
		a{
		color: $orange;
		}
	}
}

/*
#wrap button.add_to_cart.ui.orange.mini.button{
	position: relative;
	padding: 10px 10px 10px 10px;
	background: $orange;
	z-index: 100;
	width: 100%;
}
*/

.undo{
	float:right;
}

#disqus_thread{	
	height: auto;
}

div.heart.item {
	width: 50%;
	float: left;
}

.people_select{
	padding: 10px 10px 15px 10px;
}

select#people {
	height: 30px;
	font-weight: 400;
	@include box-shadow(rgba(0,0,0,.1) 0 0 0 1px);
	@include border-radius(.1875rem);
	background: white;
}

.menu_search_form{ 
	display: inline;
	
	@media screen and (max-width: $max-phone-size - 78px) {
		display: none;
	}
	
	div.item{
		padding: 0px;
		margin: 0px;
		height: 50px;
		width: 23%;
		
		form{
				top: -20px;
				position: relative;
		
			.ui.input{
					width: 174%;
			
				input{
					height: 38px;
				}
	
				input.search_submit{
					background: transparent;
					position: absolute;
					top: 0px;
					width: 15px;
					left: 206px;
					border: none;
					box-shadow: none;
					left: 88%;	
				}

				.icon{
					background: rgb(223, 65, 25);
					color: white;
					padding: 10px;
					@include opacity(1);
				}
			}		
		}
		
	}
}

/*
.left-information{
	float:left;
	width:45%;
	height: 80px;
}

.right-information{
	float:right;
	width:45%;
	height: 80px;
}*/



//about_us contac_us

#about_us,
#contact_us{
	width: 70%;
	margin: auto;
	padding: 10px 10px 10px 10px;
	color: black;
	a{
		padding-left: 5px;
		color: #444;
		&:hover{
				color: $orange;
		}
	}
}

.author{
	height: 200px;
	width: 90%;
	line-height: 40px;
	margin: auto;
	padding-top: 20px;
}

.author_img img, 
.author_img{
	height: 150px;
	width: 150px;
	float:left;
}

.author_brief{
	width: 95%;
	margin:auto;
	li{
		list-style:none;
	}
}
