// Place all the styles related to the content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_canvas { 
	height: 100% 
}
	  
#title_bar {
    position: absolute;
    top: 0px;
    width: 100%;
}
#layer-1 {
    z-index: 1;
    height: 100%;
    width: 100%;
}
#layer-2 {
    z-index: 2;
}

.ui.launch.button {
	position: absolute;
	top: -7px;
	right: 0;
}

.response {
	position: absolute;
    top: 10%;
	margin-Left: 100%;
	width: 40%;
}

.response .ui.response.menu {
	position: relative;
	//margin-top: 0px !important;
	//margin-left: 0 !important;
}

html, body, .container{
	width: 100%;
	height: 100%;
	margin: 0px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

header{
	height: 35px;
}

footer{
	display:none;
}


