// Place all the styles related to the rent_houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/border-radius";
@import "compass/css3/background-size";
@import "compass/css3/box-shadow";


#rent_houses_page{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	.ui.steps .step.active, 
	.ui.active.step, 
	.ui.steps .step.active:after, 
	.ui.active.steps:after{
			background-color: #D50909;
	}
	
	.ui.left.labeled.icon.input {
		width: 100%;
	}
}


div.two.fields > .field{
	clear: none !important;
	float:left;
	width: 47%;
}
.use, .price{
	padding-right: 5%;
}

.img_input_wrapper{

	div.ui.left.labeled.icon.input{
		width: 88%;
	}
	
	.add .icon{
		top: 5px;
		position: relative;
	}
}


#show_img{
	position: relative; top: 0px; left: 0px; width: 600px; height: 300px;
}
#imgs{
	cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;
}

/*custom font*/

/*form styles*/
#msform {
	margin: auto;
	width: 500px;
	text-align: center;
	position: relative;
	top: 40px;
	
	
	div.ui.left.labeled.icon.input{
		padding: 0px 0px 10px 0px;
	}
	
	label{
		float: left;
		font-weight: bold;
		font-size: 15px;
		padding: 10px 0px 10px 0px;
	}
	
	
	textarea {
		padding: 15px;
		border: 1px solid #ccc;
		@include border-radius(3px);
		margin-bottom: 10px;
		width: 100%;
		box-sizing: border-box;
		font-family: montserrat;
		color: #2C3E50;
		font-size: 13px;
	}
	
	textarea ,	input{
		border: 1px solid rgb(220, 220, 220);
		@include box-shadow(rgba(0, 0, 0, 0.0392157) 0px 2px 4px 0px inset)
	}

	input.ui.red.button.submit{
		margin-bottom: 20px;
		margin-top: 10px;
	}

}


div.field.img_input_wrapper{
	width: 100%;
}


.house_list{
	width: 30%;
	position: absolute;
	top: 15%;
	left: 60%;
	color: white;
}


// show house information page

#house_detail{
	position: relative;
	left: 40%;
	top: 100px;
}