// Place all the styles related to the sale_houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/background-size"
	
#sale_houses_page{
	background-image: image-url("006.jpg");
	height: 150%;
	width: 100%;
	background-repeat: no-repeat;
	@include background-size(100%);
}
