/* all common css style include html, body, header ...
 */

@import "font-awesome";
@import "compass/css3/border-radius";
@import "compass/css3/background-size";
@import "compass/css3/box-shadow";
@import "compass/layout/sticky-footer";
$orange: #df4119;
$min-web-size: 920px;
$max-phone-size: 768px;

@include sticky-footer(72px, ".container ", "#layout_footer", "#footer");

html, body{
  background-color:  white;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding:0px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: Helvetica,Arial,Verdana,sans-serif;
  font-size: 13px/1.231;
  color: #555555;
}

a{
  text-decoration: blink;
}

header{
  height: 49px;
  position: relative;
  .item{
    font-weight: 700;
  }


  .ui.inverted.menu a.item, 
  div.ui.pointing.dropdown.item{
    color: $orange;	
    font-size: 14px;
    margin-left: 21px;
    height: 49px;
    &:hover{
      color: #D50909 !important;
      border-bottom: 4px solid;
    } 
  }

  div.ui.pointing.dropdown.item.active.visible{
    color: #D50909 !important;
    border-bottom: 4px solid;
  }


  .ui.inverted.menu .dropdown .menu .item, 
  .ui.inverted.menu .dropdown .menu .item a {
    color: $orange !important;
    left: -20px;
    text-align: center;
  }
}


div.ui.fixed.inverted.title_bar.menu{
  top: 0px;
  width: 100%;
  z-index: 10;
  background-color: white; /* Old browsers */
  height: 49px;
  @include box-shadow(rgba(1,1,1,0.2) 1px 1px 1px );

  .menu{
    position: relative;

    h2 {
      margin: 0px;
      position: relative;
    }
  }

  .right.menu {
    position: relative;
    min-width: 14%;

    #renthouse_link{
      @media screen and (max-width: $max-phone-size) {
        display: none;
      }
    }
  }
}

div.ui.pointing.dropdown.item{
  left: -21px;
  top: 3px;
}

.right.menu{

  .add.icon{
    padding-top: 3px;	
  }

  dropdown .icon{
    position: relative;
    float: right;
  }
}

div.ui.pointing.dropdown.item{
  height: 49px;
  text-align: center;
  min-width: 165px;
}


#sidebar {
  float: left;
  padding-right: 4px;
  padding-bottom: 120px;
  height: 600px;
}


.toggle.icon{
  z-index: 9;
  position: fixed;
  color:  $orange;
  left: 28px;
}

.toggle.icon:hover + .ui.vertical.menu {
  display: block;
}

i.toggle.big.angle.down.icon{
  background: white;
}

.container div.ui.vertical.menu{ 

  @include border-radius(0px);
  float: left;
  position: fixed;
  z-index: 10;
  top: 30px;
  height:100%;
  display: none;
  &:hover{
    display: block;
  }

  .item{
    color: #737373;
    display: inline-block;
    font-size: 14px;
    margin-left: 8px;
    margin-bottom: 2px;
    overflow: hidden;
    padding-top: 12px;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    color:  $orange;
    width: 100%;
    display: block;
    &> i.icon {
      float: left;
    }
  }
}


#wrap{
  position: relative;
  vertical-align:bottom;
  margin:0 auto;
  height:100%;
  min-height: 100%;
}

.container{
  @extend html;
  background: #eee;
  position: relative;
  zoom:1;
  margin: auto;
  min-height: 100%;
  height: 100%;
  margin:0 auto -30px;
}


footer{
  display:block;
  height: 50px;
  background : white;
  position: relative;
  border-top: 1px solid #E2E2E2;
  font-size: 13px;
  line-height: 16px;

  ul{
    list-style-type: none;
  }

  li{
    float: left;
    padding: 10px 10px 10px 10px;
  }

  a{
    color: $orange;

    &:hover{
      color: #570000;
    }
  }
}


.welcome_message{
  color:  $orange;
  position: relative;
  top: 20px;
  left: 10%;
  font-size: 20px;
}


/*input.ui.red.button {
background: #720000;
}*/


::-webkit-scrollbar {  
  width: 12px;  
}  
::-webkit-scrollbar-track {  
  background-color: #eaeaea;  
  border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
  background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
  background-color: #aaa;  
}  

a.ui.red.button, input.ui.red.button{
  width: 100%;
  background-color: $orange;
}

.devise_links{
  margin: auto;
  padding: 10px;
  border-top: 1px solid #eee;
  margin-top: 20px;
  a{
    padding: 10px 5px 5px 3px;
  }
}
