// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui.form.signup {
	position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);	
}

#sign_up{
	background-image: image-url("003.jpg");
	height: 95%;
}
