// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/background-size";
$orange: #df4119;
$min-web-size: 920px;
$max-phone-size: 768px;


.ui.form.signup {
	position: absolute;
  width: 30%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);	
	min-width: 329px;
	
	@media screen and (max-width: $min-web-size) {
		width: 36%;
  }
	
	@media screen and (max-width: $max-phone-size) {
		width: 48%;
  }
}

#sign_up {
	background-image: image-url("008.jpg");
	height: 100%;
	background-repeat: no-repeat;
	@include background-size(100%);
	min-height: 580px;
	@media screen and (max-width: $max-phone-size) {
		background-image: none;
  }
}


.ui.about.cell.grid {
	position: absolute;
	top: 65px;
	right: 20%;
	width: 60%;
	display:table;
	
	 .column{
		 padding-right: 30px;
		
		.ui.about.menu {
			position: relative;	
		}
		.ui.tab.segmant {
			display:table-cell;
		}

	 }	
		
}

div.ui.form.edit.segment {
	box-shadow: none;
	input.ui.orange.button{
		background-color: $orange;
		width: 50%;
	}
}	

#areaAbout{
	position: relative;
}

.edit div.field{
	width: 50%;
	
	@media screen and (max-width: $max-phone-size) {
		width: 100%;
	
	}
}

#areaAbout table{
	line-height: 30px;
	
	td{
		padding-left: 5px;
	}
}


div.ui.inverted.pointing.about.menu{
	
	background: $orange;
	
	.active.item:after{
		background: $orange;
	}
}
