// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/background-size";
$orange: #df4119;
$min-web-size: 920px;
$max-phone-size: 768px;

#profile{

  div.ui.orange.segment {
    width: 30%;
    left: 20%;
    top: 40px;
    float: left;
    margin: 0 20px 0 20px;
    height: 200px;
  
    li{
      padding: 5px 5px 5px;
    }
  }
}
