<% provide(:title, 'About Us') %>
<div id="about_us">
		<h2>About Us</h2><i class="github alternate icon" ><a href="https://github.com/chihsuan-huang/WhatsHouse">https://github.com/chihsuan&#8209;huang/WhatsHouse</a></i>
		<section class="author">
			<span class="author_img">
				<%= image_tag "chihsuan.png" %>
			</span>
			<div class="author_brief">
					<h3 class="author_name">黃啟軒 | ChiHsuan, Huang</h3>	
					<ul>
						<li><i class="mail icon"><a href="mailto:chihsuan.huang.7@gmail.com">chihsuan.huang.7@gmail.com</a></i></li>
						<li><i class="github alternate icon" ><a href="https://github.com/chihsuan-huang">https://github.com/chihsuan&#8209;huang</a></i></li>
					</ul>
			</div>
		</section>
		<hr/>
		<section class="author">
			<span class="author_img">
				<%= image_tag "brandboat.png" %>
			</span>
			<div class="author_brief">
				<h3 class="author_name">曾冠博 | brandboat</h3>	
					<ul>
						<li><i class="mail icon"><a href="mailto:brandboat@gmail.com">brandboat@gmail.com</a></i></li>
						<li><i class="github alternate icon" ><a href="https://github.com/brandboat">https://github.com/brandboat</a></i></li>
						
			</div>
		</section>
</div>
