<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
  </footer>
  <script>
		
$(document).ready(function() {
	$('.launch.button').click(function(){
		$('#area').toggle();
	});

	$('.rating')
	  .rating('enable');
	
		

});

$('.rate').click(function() {
 	console.log( $('.rating').rating('get rating') );

} );

</script>

