
<footer class="footer">
  <nav>
  	<ul>
      <li>© 2014 WhatsHouse</li>
      <li><%= link_to "關於我們",   about_us_path %></li>
      <li><%= link_to "聯絡我們",  contact_path %></li>
    </ul>
  </nav>
  </footer>
  <script>
		
$(document).ready(function() {
		
	$('.launch.button').click(function(){
		$('#area').toggle();
	});

	$('.rating')
	  .rating('enable');	

	$('.rate').click(function(){
		 $("#rating_tag").val( $('.rating').rating('get rating') );
	});
});


</script>

