<header>
	<layer id="layer-3">
    	<div id= "title_bar">
      		<div class="ui tiered title_bar menu">
        		<a class="active item">Whats House?</a>
        		<a class="active item">Sign In</a>
				<a class="active item" href="<%= signin_path %>"> Log in</a>

      		</div>
    	</div>
  	</layer>
</header>
